.container {
  .posts {
    margin-top: 4rem;

    display: flex;
    flex-direction: column;

    a {
      color: inherit;
      text-decoration: none;

      & + a {
        margin-top: 3rem;
      }

      strong {
        display: block;
        font-weight: bold;
        font-size: 1.75rem;

        transition: color 0.2s;
      }

      p {
        margin: 0.5rem 0 1.5rem 0;

        color: var(--gray-300);
      }

      div {
        display: flex;
        gap: 1.5rem;

        time,
        span {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          color: var(--gray-500);
          font-size: 0.875rem;

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }

      &:hover strong {
        color: var(--pink-500);
      }
    }
  }

  .buttonLoadPosts {
    width: fit-content;

    font-size: 1.125;
    font-weight: 600;
    color: var(--pink-500);
    background-color: transparent;

    border: none;
    margin: 4rem 0 5.5rem 0;

    cursor: pointer;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(1.1);
    }
  }
}
